node_modules
dist
dist-ssr
*.tsbuildinfo
vite.config.d.ts
vite.config.js
.local
*.local
.env
.env.local
.env.production
.env.*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
supabase/.temp
supabase/.branches
